{% include "header.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='app12.css') }}">
</head>

<div class="jumbotron" id="featured">
  <div class="container title">
    <h2>  Success! The newsletter has been sent to:
      {{ form_data["email"] }}</h2>
  </div>
</div>
</header>


</body>
</html>
<form action="/feedback/Dreams Come True" method="post">

  </button>
  <a class="navbar-brand" href="#featured"><h1>Dreams Come True<span class="subhead"></span></h1></a>
  </form>
