{% include "header.html" %}

  <!--jumbotron -->

  <div class="jumbotron" id="featured">
    <div class="container title">
      <h2>Let's make your dream wedding come true!</h2>
    </div>
  </div>
</header>

<!--page: types -->
    <div class="page" id="type">
      <div class="content container">
        <h2>Services</h2>
        <div class="row">
          <article class="type col-md-4 col-sm-6 col-xs-12">
            <img src="./static/1.jpg" width = "300px" height = "220px">
            <h3>Photos & Videos </h3>
            <p>Senior photographers provide you with the most fantastic wedding photography experience, record every moment of your wedding. Our photographers have average photography work experience for more than 10 years. Make sure that each photo is clear and beautiful, the photographer meticulously modifies it, then makes videos, making your wedding a precious memory forever.</p>
          </article>

          <article class="type col-md-4 col-sm-6 col-xs-12">
            <img src="./static/2.jpg" width = "300px" height = "220px">
            <h3>Venue decoration</h3>
            <p>Inspired designers will create the most fancy wedding for you. Whether it is a romantic and relaxing seaside wedding or an exotic wedding, we will present you in the most perfect way. From the decoration of the small petal to the lighting of the atmosphere, we will strive for excellence and bring you the best wedding experience，also let every guest feel the incredible beauty of the wedding. </p>
          </article>

          <article class="type col-md-4 col-sm-6 col-xs-12">
            <img src="./static/3.jpg" width = "300px" height = "220px">
            <h3>Process planning</h3>
            <p> A professional wedding planner will carefully plan every process of your wedding to ensure that every guest enjoys them and feels happy together. Solemn oaths and relaxed on-site interactions, each step naturally smooth transition. Explain the wedding process in detail to you, make detailed adjustments according to your needs and create a really fancy wedding for you.</p>
          </article>

          <article class="type col-md-4 col-sm-6 col-xs-12">
            <img src="./static/4.jpg" width = "300px" height = "220px">
            <h3>Look Design</h3>
            <p>Senior wedding designers select the most suitable wedding dress for you and create the perfect makeup for you to better fit with the wedding theme. At the same time, professional hair stylist and makeup artist design a complete look for you. Magnify your beauty and you will be the most beautiful person of the wedding.</p>
          </article>

          <article class="type col-md-4 col-sm-6 col-xs-12">
            <img src="./static/5.jpg" width = "300px" height = "220px">
            <h3>Live band</h3>
            <p>Different from other wedding companies, all background music will be played by professional bands. We aim to provide you with the most clear and shocking music to mobilize the wedding atmosphere. The live music of the band can be personally selected and you can confirm the performance before the wedding. At the same time, you can also dance with live band music in the after party.</p>
          </article>

          <article class="type col-md-4 col-sm-6 col-xs-12">
            <img src="./static/6.jpg" width = "300px" height = "220px">
            <h3>Fashion</h3>
            <p>Relax, we have the perfect solution for you we will arrive at your home or hotel with plenty of time to remind you to put your garter on, figure out the clasp on your necklace and lace your corset up  in that special, comfortable way as in your fitting. We provide in our bridalwear and beauty section wedding dresses inspiration, lingerie , headwear, jewellery and shoes.</p>
          </article>



        </div><!--row -->
      </div><!--content container -->
    </div><!--types -->


    <!--Testimonials -->
    <div class="page" id="testimonials">
      <div class="content container">
        <h2>Testimonials</h2>
        <div class="row">

          <article class="type col-md-6 col-sm-12 col-xs-12">
            <img src="./static/7.jpg" width = "500px" height = "350px">
            <h3>Liz and Jonny</h3>
            <p>After ten years’ meet, my husband and I upgraded from friendship to love. We want the wedding decorations to show the strong love between us. We were so impressed that "Dreams Come True" used a triangular structure in our wedding ceremony to symbolize stable, strong and indestructible emotions. We can’t believe how "Dreams Come True" came up with a such innovative idea. Also I liked the elements of white, gold, and sea of flowers. Also they are so friendly. They felt like friends immediately and I looked forward to seeing them throughout the wedding process. They answered all of my questions timely and made me feel at ease.  </p>
          </article>

          <article class="type col-md-6 col-sm-12 col-xs-12">
            <img src="./static/8.jpg" width = "500px" height = "350px">
            <h3>Kelly and Ben</h3>
            <p>"Dreams Come True" was a wonderful choice for us. Our wedding designer is a fun, efficient, organized person who is willing to explore all possibilities and, most importantly, to cooperate with others in such an important event. Throughout the process, she became a true friend and we look forward to each meeting. It is really important to hire the right wedding planner because there are countless details and opinions, and everyone needs to be on the same page. "Dreams Come True" is well-informed about invitation ceremonies, managing guest lists, transportation needs, contracts, and paying extra for each request. It’s a sooooooooo enjoying experience!!!</p>
          </article>

          <article class="type col-md-6 col-sm-12 col-xs-12">
            <img src="./static/9.jpg" width = "500px" height = "350px">
            <h3>Donna and Mike</h3>
            <p>I've never been a girl who would do a lot of design, so when I got engaged with my husband, I knew we needed help! We all think that the happiest thing is that everything is going well. The “Dreams Come True” wedding company exceeded our expectations. Our wedding designer is a wonderful person. Her design is so great. Thank them for giving me a perfect wedding! Thanks again! ! !</p>
            </article>

          <article class="type col-md-6 col-sm-12 col-xs-12">
            <img src="./static/10.jpg" width = "500px" height = "350px">
            <h3>Keren and Gary</h3>
            <p>"Dreams Come True" knows the industry very well, so they gave us useful advice. They also set a detailed timetable for the activities of the big day and made the everything go smoothly. We completely trust them and are not disappointed. Thanks to their knowledge, organization and consideration, we do have our dream wedding!</p>
            </article>


        </div><!--row -->
      </div><!--content container -->
    </div><!--types -->


    <!--page: coffeshops near you -->
        <div class="page" id="coffeshops">
          <div class="content container">
            <h2>Check your location and find the nearest "Dream Come True"</h2>
            <h2>We are always by your side</h2>

            <!DOCTYPE html>
            <html>
            <body>

            <p>Click the button to get your coordinates.</p>

            <button onclick="getLocation()">Try It</button>

            <p id="demo"></p>

            <script>
            var x = document.getElementById("demo");

            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }

            function showPosition(position) {
                x.innerHTML = "Latitude: " + position.coords.latitude +
                "<br>Longitude: " + position.coords.longitude;
            }
            </script>

            </body>
            </html>


      </div>
     </div>


    <!--About Us -->
        <div class="main">
          <div class="page" id="about">
            <div class="content container">

                <h2>About Us</h2>
                <h3>Our mission</h3>
                <p> To make your dream wedding come true.</p>
                <h3>Our vision</h3>
                <p> Give our clients the best wedding experience in the world.</p>
                <h3>Our values</h3>
                <p> We look forward to creating a warm culture where everybody is welcome. Challenging ourselves, having the best team.</p>
            </div><!-- content container-->
            <div class="container">
              <div class="row">
                <div class="col-sm-4">
                <img class="img-circle" src="./static/Cathy.jpg" alt="photo of sofia" width = "100px" height = "100px">
                <h3>Kexian Wei</h3>
                <p>Hi, I'm Cathy! I'm a Business Administration student who always has passion for design and fashion. </p>
              </div><!-- -->
                <div class="col-sm-4">
                <img class="img-circle" src="./static/maria.jpg" alt="photo of sofia" width = "100px" height = "100px">
                <h3>Mary Jo Lozano</h3>
                <p>I am Mary Jo! I'm a MSc Energy Engineering student who loves coffee, specially espressos. </p>
              </div><!-- -->
              <div class="col-sm-4">
              <img class="img-circle" src="./static/maria.jpg" alt="photo of sofia" width = "100px" height = "100px">
              <h3>Mary Jo Lozano</h3>
              <p>I am Mary Jo! I'm a MSc Energy Engineering student who loves coffee, specially espressos. </p>
            </div><!-- -->
              <div class="col-sm-12" id="social">
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-instagram"></a>
    </div>
              </div><!--row-->
            </div><!--container-->
          </div><!-- about-->
        </div><!--main -->





<!--contact -->
    <div class="page" id="contact">
      <div class="content container">
        <div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
        <hgroup>
          <h4>
            Subscribe for
             <select class="frecuency">
                 <option value="0">daily</option>
                 <option value="1" selected>weekly</option>
                 <option value="2">monthly</option>
             </select>
            newsletter
          </h4>
         </hgroup>
    	 <div class="well">
           <form action="/feedback" method="post">

               <label for="email">Email: </label>
               <input type="email" name="email" id="email">

             <input type="submit" value="Send!">
             </form>
    	 </div>
         <small class="promise"><em>We won't send spam.</em></small>
		</div>
	</div>
</div>

      </div><!--container -->
    </div><!--contact -->







<!--subscribe -->





<!--footer -->
    <footer>
      <div class="content container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <p>Call us at <span class="phone">888-555-1212</span></p>
          </div><!--col-sm-6 -->
          <div class="col-sm-6">
            <nav class="navbar navbar-default" role="navigation">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Terms of use</a></li>
                <li><a href="#">Privacy policy</a></li>
              </ul>
            </nav>
          </div><!--col-sm-6 -->
        </div><!--row -->
      </div><!--content container -->
    </footer>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="js.js"></script>


    </body>
    </html>
